.Dashboard {
    width:100vw;
    height: 100vh;
    list-style-type: none;
    background-color: #f3f3f3;
}
.Content{
    position: absolute;
    top: 0;
    left: 5vw;
    margin-top: 1vh;
    width: 82vw;
    height: auto;
}

.Tile{
    margin-top: 1vh;
    width: auto;
}

.TileHead{
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    
}

.TileBody{
    margin: 1.5vh;
}
