.Sidebar {
    height: 100vh;
    width: 10vw;
    background-color: #2F4050;   
    position: absolute;
    top: 0;
    left: 0;
}

.SidebarImage {
    padding-top: 15%;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.SidebarGreeting {
    color: #DDD;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vh;
    text-align: center;
    height: 10%;
    padding: 0;
    padding-top: 10%;


}

.SidebarList {
    height: 10vh;
    padding: 0;
    width: auto;    
}

.SidebarList .row {
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: #DDD;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.1vh;
}

.SidebarList .row:hover {
    cursor:pointer;
    background-color: #293846;
    color:white;
}



